create database HoaDon
 Go
USE [HoaDon]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/04/2015 13:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](255) NULL,
	[DonViTinh] [nvarchar](255) NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [DonGia]) VALUES (1, N'Rượu', N'Chai', 230.5)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [DonGia]) VALUES (2, N'Gia vị', N'Thùng', 40)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [DonGia]) VALUES (3, N'Bánh kem', N'Cái', 10)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/04/2015 13:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](255) NULL,
	[Ten] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [float] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [DiaChi], [DienThoai]) VALUES (3, N'Trần thị  Tuyết', N'Oanh ', N'26 Lê Quý Đôn P6 Q3', 8557798)
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [DiaChi], [DienThoai]) VALUES (4, N'Nguyễn Minh', N'Hồng', N'224 Lạc Long Quân', 8352578)
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [DiaChi], [DienThoai]) VALUES (5, N'Trương Duy', N'Hùng', N'77 Trương Định P6 Q3', 8940295)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/04/2015 13:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](20) NOT NULL,
	[TenCTy] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ThanhPho] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](255) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenCTy], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'AGROMAS', N'Cơ điện nông nghiệp 03', N'311 Hai Bà Trưng P8 Q3', N'TP HCM', N'( 08) 8970364')
INSERT [dbo].[KhachHang] ([MaKH], [TenCTy], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'ALSIMES', N'Giày An lạc', N'761 Trần Hưng Đạo P1', N'Huế', N'(054) 8456005')
INSERT [dbo].[KhachHang] ([MaKH], [TenCTy], [DiaChi], [ThanhPho], [DienThoai]) VALUES (N'ASC', N'Du lịch An Phú', N'233 Nguyễn Trãi P2', N'Nha Trang', N'(058) 8124780')
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/04/2015 13:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](5) NOT NULL,
	[MaKH] [varchar](20) NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV]) VALUES (N'10144', N'WACO', 7)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV]) VALUES (N'10145', N'SAMACO', 9)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV]) VALUES (N'10150', N'CODACO', 8)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/04/2015 13:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [varchar](5) NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (N'10144', 1, 35)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (N'10144', 3, 10)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (N'10144', 6, 20)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
/****** Object:  ForeignKey [FK_ChiTietHoaDon_HoaDon]    Script Date: 12/04/2015 13:36:09 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_SanPham]    Script Date: 12/04/2015 13:36:09 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH NOCHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
/****** Object:  ForeignKey [FK_HoaDon_KhachHang]    Script Date: 12/04/2015 13:36:09 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
/****** Object:  ForeignKey [FK_HoaDon_NhanVien]    Script Date: 12/04/2015 13:36:09 ******/
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
